---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Management Bios | Liberty Transcripts">
  <div class="w3-container" style="background-color:white;">
    <h1 class="w3-raleway w3-xxxlarge">Management Bios</h1>
  </div>
  
  <h3>Dipti Patel, Founder</h3>
  <p>Liberty Transcripts was founded by Dipti Patel. Her educational background consists of a Bachelor of Science from Middle Tennessee State University with a major in Political Science and a double minor in Paralegal Studies and Business Administration. After her college career, Dipti worked for various law firms in the Middle Tennessee area. All of this training and experience has laid a firm foundation for her success in the legal transcription industry.</p>
  <br />
  <p>Dipti has been a member in good standing with the American Association of Electronic Reporters and Transcribers (AAERT) since 2015. She obtained her certification as a Certified Electronic Transcriber (CET) in 2017. Since 2015, Dipti has gained experience in various state and federal jurisdictions; however, her passion is in the area of federal bankruptcy.</p>
  <br />
  <p>Finally, Dipti supports the AAERT certification process by serving on the CET Practical Examination Grading Committee. She also volunteers her time providing meals to a halfway home in Austin, Texas.</p>
  <br />
  <br />
</MainLayout>
