---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Upload Audio | Liberty Transcripts">
  <style>
    .iframe-container {
      height: 80vh;
      margin-top: 0;
    }
    iframe {
      width: 100%;
      height: 100%;
      border: none;
      z-index: 1;
    }
  </style>

  <div class="w3-container" style="background-color:#FFFFFF;">
    <h1 class="w3-raleway w3-xxxlarge">Upload Audio</h1>
  </div>
  
  <div style="text-align:center;">
    <p class="w3-raleway"><b>To securely upload your audio files, please follow the steps below:</b></p>
    <ol>
      <li style="text-align:center;">1. Enter your e-mail address in the "Sender's e-mail" box.</li>
      <li style="text-align:center;">2. In the "Message" box, enter relevant information about the recording, i.e. recording date, case name, participants (including judge's name), location, contact information, etc.</li>
      <li style="text-align:center;">3. Use the "Upload file" button to select the file(s) from your computer that you wish to upload.</li>
      <li style="text-align:center;">4. Repeat Step 3 to add up to 5 files per upload. For a large number of files, consider zipping them into one file.</li>
      <li style="text-align:center;">5. When you're ready to send the file(s), <a href="https://mail.google.com/mail/?view=cm&fs=1&to=dbpatel1180@gmail.com&su=Password Request&body=Password Request" target="_blank">contact us for the password</a></li>
      <li style="text-align:center;">6. Once you've entered in the password, click the SendThisFile button. When the file is successfully uploaded, SendThisFile will notify us via email of your completed upload.</li>
    </ol>
  </div>
  <br />
  <br />
  
  <div class="iframe-container">
    <iframe scrolling="yes" src="https://www.sendthisfile.com/f.jsp?id=WWSB1cGU6niIBUy9hHAHcMkd"></iframe>
  </div>
  <br />
</MainLayout>
