---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Liberty Transcripts | Court-Approved Transcription Services">
  <div class="w3-container" style="background-color:white;">
    <h1 class="w3-overpass w3-xxxlarge">
      <b>Liberty Transcripts</b>
    </h1>
  </div>
  <h3>Sophisticated and Reliable Transcription Services</h3>
  <p class="w3-overpass">
    Liberty Transcripts specializes in providing reliable and accurate AAERT-certified court transcripts. When you choose Liberty Transcripts as your court transcription vendor, your transcript request is our priority. Our Team is committed to excellence and have experience working on complex litigation. We invite you to take a tour of our website to learn more about how we can assist you with your transcription needs.
  </p>
  <br />
  <div class="parallax-1"></div>
  
  <h2 class="w3-raleway w3-xxlarge">Certified Legal Transcription Services at your Fingertips</h2>
  <p>
    The Liberty Transcripts Team is composed of AAERT-certified transcribers with a combined experience of 30 years in the transcription industry. Before becoming seasoned transcribers, we all worked as paralegals and are very well-versed in the legal process. Our meticulous eye for detail as well as this vast experience provide the foundation and framework for success in this industry. Rest assured that Liberty Transcripts will handle your request with care and professionalism.
    <br />
  </p>
  
  <h2 class="w3-raleway w3-xxlarge">Experienced and Professional</h2>
<div class="w3-display-container" 
     style="height:305px; width:100%; display:flex; justify-content:center; align-items:center;">
  <img src="/assets/images/servicing-map.png" style="width:459px; height:305px;">
</div>

  <br />
  <br />
  <br />
  
  <div class="parallax-2"></div>
  
  <h2 class="w3-raleway w3-xxlarge">Proud Members of American Association of Electronic Reporters and Transcribers</h2>
  <div class="w3-display-container" style="height:275px;width:60%;margin:auto;">
    <img src="/assets/images/AAERT.png" class="w3-display-left aaert">
    <img src="/assets/images/CET.png" class="w3-display-right cet">
  </div>
  <div class="w3-display-container" style="height:275px;width:90%;margin:auto;">
    <div>
      <h3 style="margin-left:46.7%;">CET Badge of Honor</h3>
      <p class="w3-half aaert-desc w3-display-left">AAERT is the industry-recognized association which promotes the certification titled CET (Court Electronic Transcriber). As certified transcribers, we guarantee that each and every transcript is certified with a gold seal and guarantee of high accuracy.</p>
    </div>
    <p class="w3-half cet-desc w3-display-topright">For recognition of a Certified Member in good standing.</p>
  </div>
  <br />
  
  <div class="parallax-3"></div>
  
  <h2 class="w3-raleway w3-xxlarge">Testimonials</h2>
  <div class="container testimonials">
    <h4 style="text-align:center;">Don't Just Take Our Word for It. Here's What Liberty's Clients Have to Say...</h4>
    <p><b><em>"Great customer service and quality. Very responsive to our expedited request."</em></b> - Kim Fineman, Esq. (Nuti Hart, LLP)</p>
    <br />
    <i class="fa-regular fa-comments fa-2xl" style="color:black;margin-left:48.55%;margin-right:50%;"></i>
    <br /><br />
    <p><b><em>"Transcript was timely and accurate; excess deposit was timely refunded."</em></b> - Al Odom, Esq. (The Odom Law Firm)</p>
    <p><b><em>"Ms. Patel was always available by phone, very responsive to my request, courteous and quick turnaround."</em></b> - Steven Hathaway, Esq. (The Law Offices of Steven Hathaway)</p>
    <br />
    <i class="fa-regular fa-comments fa-2xl" style="color:black;margin-right:50%;margin-left:48.55%;"></i>
    <br /><br />
    <p><b><em>"I recently worked with Dipti on a transcription project. I provided her with the audio for a full day jury trial, with selection, and she was able to produce a professional, well proofed transcript. She asked questions about layout to make sure her transcript would meet my needs and provided the work to me on time. She was able to make accommodations to follow my invoicing practices and was very professional in our dealings. I would highly recommend her for all of your transcription needs."</em></b> - Nichole Weist, CER (State of Wisconsin)</p>
    <p><b><em>"Very professional, Always completes transcriptions by due dates or earlier. Always responds to emails immediately. Much appreciated."</em></b> - Federal Court Reporters of San Antonio, Inc.</p>
    <br />
    <i class="fa-regular fa-comments fa-2xl" style="color:black;margin-left:48.55%;margin-right:50%;"></i>
    <br /><br />
    <p>We love to hear from our clients. Please tell us how we are doing by submitting your feedback on the form listed below.<br /><a href="https://forms.gle/EwWsrMK5Z1N7zxuN8">https://forms.gle/EwWsrMK5Z1N7zxuN8</a></p>
  </div>
  
  <h2 class="w3-raleway w3-xxlarge">FAQs</h2>
  <h4 style="text-align:center;">Helpful Information</h4>
  <br />
  <p>Below are some frequently-asked questions about Liberty Transcripts and its services. Scroll through to find the answer you are looking for. If you do not see it listed, please do not hesitate to reach out and ask.</p>
  <br />
  <i class="fa-solid fa-users fa-2xl" style="color: #000000;margin-left:48.55%;margin-right:50%;"></i>
  <br />
  <br />
  <h5 style="text-align:center;font-size:33px;font-weight:550;">Why Choose Liberty Transcripts?</h5>
  <p>Liberty Transcripts is in the business of providing legal transcription services to courts, attorneys, and court reporting firms across the nation.</p>
  <br />
  <p>As certified electronic transcribers, we have passed the gold standard given by the American Association of Electronic Reporters and Transcribers (AAERT) to produce accurate and high-quality transcripts. To maintain such certification, we have to complete continuing education credits every three years which enables us to stay up-to-date with industry standards and practices as well as stay fresh on education. We must also be a Member In Good Standing with AAERT in order to maintain our certifications.</p>
  <br />
  <p>Rest assured that your transcript request will not be treated as a number. Each transcript request is given due care and attention so that your satisfaction is guaranteed. We are always available via e-mail or telephone and respond promptly to all inquiries or concerns.</p>
  <br />
  <i class="fa-solid fa-users fa-2xl" style="color: #000000;margin-left:48.55%;margin-right:50%;"></i>
  <br />
  <br />
  <h5 style="text-align:center;font-size:33px;font-weight:550;">How Can I Sign Up?</h5>
  <p>Contact us with the details of your proceeding, and we will take care of the rest. Liberty Transcripts can also transcribe 341(a) Meeting of Creditors for bankruptcy court jurisdictions.</p>
  <br />
  <i class="fa-solid fa-users fa-2xl" style="color: #000000;margin-left:48.55%;margin-right:50%;"></i>
  <br />
  <br />
  <h5 style="text-align:center;font-size:33px;font-weight:550;">What Are Your Page Rates?</h5>
  <p>Liberty Transcripts adheres to the page rates set forth by the Judicial Conference for all bankruptcy and federal proceedings.</p>
  <br />
  <br />
</MainLayout>
