<head>
      <title>Liberty Transcripts | Court-Approved Transcription Services</title>
  <link rel="icon" type="image/x-icon" href="./assets/images/white-favicon.png">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./assets/stylesheets/form.css">
  <link rel="stylesheet" href="./assets/stylesheets/w3.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@525&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css">
  <script src="/scripts.js"></script>
</head>
<body>
   <div class="w3-bar w3-border" style="background: #E3F2FD;">
    <a href="/"><img src="./assets/images/fullLogo.png" style="width:20% height:20%"alt="Full Logo"></a>
    <div style="margin-left: 45px; margin-top: .5%; margin-bottom: 1%;">
      <a href="/" style="width:20%; background-color:#3F9CD1;"
        class="curved-corner w3-bar-item w3-button w3-mobile">Home</a>
      <a href="/form" style="width:20%; margin-left:5px;" class="curved-corner w3-bar-item w3-button w3-mobile">Upload
        Audio</a>
      <a href="/management-bios" style="width:20%; margin-left:5px;" class="curved-corner w3-bar-item w3-button w3-mobile">Management Bios</a>
      <a href="/request-form" style="width:20%; margin-left:5px;" class="curved-corner w3-bar-item w3-button w3-mobile">Bankruptcy Transcript Request</a>
    </div>
  </div>


<!-- CONTENT HERE -->

      <footer>
      <div class="w3-container">
        <h3><b>Liberty Transcripts</b></h3>
          <p><a href="mailto:dbpatel1180@gmail.com">dbpatel1180@gmail.com</a><br />(847) 848-4907<p>
          <br />
          <p>©2024 by Liberty Transcripts</p>
          <br />
      </div>
  </footer>
</body>